.NextStation {
  margin: 0 auto;
  background: #ececec;
  .TrainCard {
    position: relative;
    z-index: 4;
    margin: -180px auto 0 auto;
  }
  .SpeedCard {
    margin: 280px auto 0 auto;
  }
  .content {
    display: flex;
    max-width: 1920px;

    margin: 200px auto 0 auto;
    justify-content: space-around;
    align-items: center;
    .AppearingText {
      max-width: 900px;
      word-break: normal;
      @media (max-width: 871px) {
        font-size: 56px;
      }
    }
    img {
      @media (max-width: 1800px) {
        display: none;
      }
    }
  }
}
