.RedCard {
  position: relative;
  background: #ff6f61 url("./background.png") no-repeat bottom;
  max-width: 1440px;
  min-height: 900px;
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: 764px) {
      flex-direction: column;
    }
    h1 {
      margin-left: 100px;
      font-family: Bebas Neue;
      font-size: 1em;
      line-height: 86px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #ffffff;
    }
  }
  .luckylogo {
    position: absolute;
    bottom: 5px;
    right: 5px;
  }
}
