.TraktorozavodCard {
  max-width: 1440px;
  min-height: 900px;
  background: #f5f5f5;
  /* light */
  padding-top: 10px;
  position: relative;
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.05);
  .content {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    max-width: 1404px;
    min-height: 814px;
    background: #f5f5f5;
    border-radius: 25px;
    border: 1px solid black;
    .train {
      position: absolute;
      left: -10%;
      top: 36%;
      @media (max-width: 1270px) {
        left: -30%;
      }
      @media (max-width: 1087px) {
        left: -50%;
      }
      @media (max-width: 925px) {
        left: -70%;
      }
      @media (max-width: 812px) {
        left: -90%;
      }
      @media (max-width: 722px) {
        display: none;
      }
    }
    h1 {
      max-width: 600px;
      font-family: Bebas Neue;
      font-size: 1em;
      line-height: 86px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #5f60e5;
      margin: 100px 20% 0 auto;
      @media (max-width: 762px) {
        word-wrap: break-word;
        margin: 100px auto 0 auto;
      }
    }
    .FirstLetterText {
      margin: 0 10% 0 auto;
    }
  }
  .loading {
    position: absolute;
    bottom: 10px;
    margin: 0 auto;
    left: 0;
    right: 0;
    @media (max-width: 361px) {
      display: none;
    }
  }
  .luckylogo {
    position: absolute;
    bottom: 5px;
    right: 5px;
    @media (max-width: 491px) {
      display: none;
    }
  }
}
